.button {
	border: none;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	padding:20px 80px;
	width: auto;
	text-decoration: none;
}
.button:hover {
	text-decoration: underline;
}